doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
  body
  div(style="min-width:500px;font-family:arial;font-size:14px;color:#939598;")
    div(style="width:500px;")
      div(style="background:#f5f5f5;width:500px;display:block;border: solid 1px #e0e0e0;")
        div(style="padding: 40px;text-align:center;")
          div(style="width:420px;padding-left:0;padding-right:0;padding-bottom:20px;")
            table(style="width:420px;")
              tbody
                tr
                  td(style="text-align: left;")
                    div(style="padding-top:0px;padding-left:0px;padding-bottom:20px;")
                      a(href="www.one-relief.org" target="_blank")
                        img(src=onerelief.logoUrl alt="OneRelief" style="border:none; max-height: 120px; max-width: 271px")
                  td(style="padding-bottom:62px; padding-top: 0px" width="150")
                    table(style="color:#939598")
                      tbody
                        tr
                          td(style="font-size: 16px; padding-top: 0px;text-align: left")
                            span(style="") Donation Receipt
                        tr
                          td(style="font-size: 16px; padding-top: 0px;text-align: left")
                            span(style="vertical-align: top;") #{data.donationDate}
          div(style="margin:12px 0px 12px 0px;text-align:center; color: #414042;width:420px;")
            table(style="width: 420px")
              tbody
                tr
                  td
                    span
                tr
                  td(style="text-align:left;vertical-align: text-top;font-size:24px;line-height:30px;") Thank you, #{data.donorName}!

          div(style="margin-bottom:22px; text-align: center")
            table(style="width: 420px")
              tbody
                tr
                  td
                    span
                  td(style="text-align:left;vertical-align: text-top;font-size:15px;line-height:18px;color:#939598;padding:0px")
                    p(style="padding-top:10px;margin-bottom:0") Hi #{data.donorName},
                    p(style="padding-top:10px;margin-bottom:0;") Thank you for your donation to the #{data.campaignTitle} fundraiser. Your donation makes a true difference and we will make sure to keep you updated on the progress of #{data.charityName}'s relief operations in #{data.campaignDisasterArea}.
                    p(style="padding-top:10px;margin-bottom:0;") OneRelief fundraisers are proof of the power of our social networks. Following your donation, we only need an estimated #{data.donationsRequired} more social media shares to reach our funding goal of #{data.campaignGoal}.
                    p(style="padding-top:10px;margin-bottom:0;") You've done your part to help get us there, and we would like to ask you for one more thing. Please share the fundraiser with your friends and family.
                    p(style="padding-top:10px;margin-bottom:0;") Thanks again for stepping up for those in desperate need. We are deeply grateful for your generosity.
                    <br /> Best wishes,<br />Team OneRelief
                    p(style="padding-top:10px;margin-bottom:0;")
          div(style="margin:0 0 10px 0")
            table(style="width: 420px")
              tbody
                tr
                  td(style="text-align:left;font-size:10px;color:#707070") Receipt:
                tr
                  td(style="text-align:left;font-size:10px;color:#707070") Donor:
                  td #{data.donorName}
                tr
                  td(style="text-align:left;font-size:10px;color:#707070") Donation:
                  td #{data.campaignTitle}
                tr
                tr
                  td(style="text-align:left;font-size:10px;color:#707070") Receiving Charity:
                  td #{data.charityName}
                tr
                  td(style="text-align:left;font-size:10px;color:#707070") Donation Date:
                  td #{data.donationDate}
                tr
                  td(style="text-align:left;font-size:10px;color:#707070") Amount:
                  td #{data.donationAmount}
                tr
                  td(style="text-align:left;font-size:10px;color:#707070") Payment Method:
                  td #{data.paymentMethod}
                tr
                tr
                  td(style="text-align:left;font-size:10px;color:#707070") Payment ID:
                  td #{data.paymentID}
                tr
                tr
                  td(style="text-align:left;font-size:10px;color:#707070")
                tr
                tr
                  td(style="text-align:left;font-size:10px;color:#707070") #{onerelief.nameCharityNum}
                tr
                tr
                  td(style="text-align:left;font-size:10px;color:#707070") #{onerelief.addressOneLine}
                tr
                tr
                  td(style="text-align:left;font-size:10px;color:#707070") To update your donation, you can reply to this email or call us on #{onerelief.telephone}
                tr
